<footer class="footer">
	<div class="footerTop" style="background-image: url({{asset("build/images/visuel-footer.jpg")}});">
		<div class="container d-flex justify-content-between">
			<img class="logowhite" src="{{asset("build/images/logowhite.svg")}}" alt="">
			<div class="footerMenus d-flex gap-5">
				<div>
					<p class="text-light">Hugo David</p>
				</div>
				<div>
				<p class="text-light">Mes coordonnées</p>
				</div>
				<div>
					<a href="#" class="btn btn-light btn-lg rounded-pill p-2">Contactez moi !</a>
					<div class="socials">
						<a href="" class="linkedin text-light">Linkedin</a>
						<a href="" class="twitter text-light">Twitter</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="footerBottom">
	<p class="text-light">Mentions Légales</p>
	<p class="text-light">Copyright 2023 Hugo David</p>
	</div>
</footer>
