{% block body %}

	<nav class="navbar navbar-expand-lg bg-light">
		<div class="container-fluid">
			<a class="navbar-brand" href="{{ path('app_portfolio') }}">
				<img src="{{asset("build/images/logo.svg")}}" width="150">
			</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse d-flex justify-content-between" id="navbarText">
			<div>
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="{{ path('app_projects_index') }}">Realisation</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="#">A propos</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="#">Contact</a>
					</li>
			</div>
					{% if is_granted('IS_AUTHENTICATED_FULLY') %}
					<div>
						<li class="nav-item list-unstyled">
							<a href="{{ path('app_logout') }}" class="btn btn-primary rounded-pill p-2">Se déconnecter</a>
						</li>
					</div>
					{% endif %}
				</ul>
			</div>
		</div>
	</nav>

{% endblock %}
